{% extends 'base.html' %}
{% block title %} Home page {% endblock %}
{% block content %}

<section class="about-section">

        <h1>О блоге</h1>
        <p>
            Добро пожаловать на сайт **GameDev Journey** — место, где мы делимся вдохновением, знаниями и опытом создания игр.
        Наша цель – помочь начинающим и опытным разработчикам узнать больше о различных аспектах игровой индустрии: от программирования и дизайна до маркетинга и монетизации.
        </p>
        <p>
            Вдохновляя людей воплощать свои игровые идеи в реальность, мы освещаем такие темы, как:
        </p>
        <ul>
            <li>Основы программирования игр;</li>
            <li>Создание 2D и 3D графики;</li>
            <li>Геймдизайн и пользовательский опыт;</li>
            <li>Работа с игровыми движками (Unity, Unreal Engine и другие);</li>
            <li>Маркетинг и публикация игр на различных площадках.</li>
        </ul>
        <p>
            Мы открыты для вашей обратной связи, идей и предложений, а также всегда рады гостевым статьям и сотрудничеству.
        </p>
        <p>
            Начните свой путь в геймдеве уже сегодня!
        </p>
    </section>
{% endblock %}