{% extends 'base.html' %}
{% block title %} Home page {% endblock %}
{% block content %}

<div class="about-section">
<h1>Отзывы</h1>
    <ul>
        {% for feedback in feedbacks %}
            <p><strong>{{ feedback.full_name }}:</strong></p>
            <p>{{ feedback.email}}</p>
            <p>{{ feedback.review_text }}</p>
            <hr>
        {% endfor %}
    </ul>
    <a href="{% url 'leave_feedback' %}" class="btn">Оставить отзыв</a>
    <a href="{% url 'home' %}" class="btn">На главную</a>
</div>
{% endblock %}