{% extends 'base.html' %}
{% block title %} Список постов {% endblock %}
{% block content %}
<div class="about-section">
<h1>Список постов</h1>

        {% for post in posts %}
            <h2>{{ post.title }}</h2>
            {% if post.image.url %}
            <img src="{{ post.image.url }}" alt="{{ post.title }}" style="max-width: 300px;">
            {% endif %}
            <p>{{ post.content|slice:200 }}...</p>
            <a href="{% url 'post_detail' post.id %}" class="btn">Читать далее</a>

        {% endfor %}
        </div>
{% endblock %}